body
{
  color: white;
  background: lightblue;
}
span
{
  font-size: 25px;
}
#camera , #result
{
  border: 2px dotted black;
  width: 225px;
  height: 250px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading {
  font-size: 15px;
  border-radius: 15px;
  letter-spacing: 10px;
}

.Capture {
background:green;
border-radius: 25px;
}

.Predict {
background:green;
border-radius: 25px;
}